body {
    font-family: Cursive, Helvetica, sans-serif;
    margin: 0;
    color: #000000;
  }
  .header{
      padding: 20px;
      margin-top: 0mm;
      text-align: center;
      background: #1abc9c;
      color: white;
      font-size: 40px;
      font-family: Cursive, Helvetica, sans-serif;
    }
    .content {padding:20px;}
  
    table {
      border-collapse:collapse;
      padding-left: 20%;
      padding-right: 20%;
      font-family: Cursive, Helvetica, sans-serif;
    }
    #quest{
        text-align: left;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    th {
        text-align: center;
        padding: 8px;
    } 
    
    tr:nth-child(even){background-color: #f2f2f2}
    
    th {
      background-color: #4CAF50;
      color: white;
    }
  
  .button {
      display: inline-block;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      color: #ffffff;
      margin: 8px 0;
      background-color: #F1C40F;
      border-radius: 6px;
      outline: none;
    }
    
    input[type=text] {
      float: right;
      width: 250px;
      padding: 5px 10px;
      margin: 8px 0;
      box-sizing: border-box;
      text-decoration: none;
      border: none;
      border-right: 5px solid rgb(255, 145, 0);
    }
  
  