    body {
    font-family: Cursive, Helvetica, sans-serif;
    margin: 0;
    background-color: #1abc9c;
    }
    .content {padding:20px;}
    #btnReport{
      /* float: right; */
      background-color: #f85336;
      border: none;
      color: white;
      padding: 10px 32px;
      text-align: right;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 6px;
    }
    p{
      padding-bottom: 2%;
    }
    /* table #header{
      margin-top: 5%;
      border-collapse:collapse;
      padding-left: 20%;
      padding-right: 20%;
      width: 1200px;
      font-family: Cursive, Helvetica, sans-serif;
      background-color: #f2f2f2;
    } */
    .reply {
      border-collapse:collapse;
      padding-left: 20%;
      padding-right: 20%;
      width: 900px;
      border: 0;
      font-family: Cursive, Helvetica, sans-serif;
    }
    
    table #comment{
      border-collapse:collapse;
      padding-right: 20%;
      width: 1200px;
      border: none;
      font-family: Cursive, Helvetica, sans-serif;
      background-color: #ffffff;
    } 
    table {
      border-collapse:collapse;
      padding-left: 20%;
      padding-right: 20%;
      width: 1200px;
      border: 0;
      font-family: Cursive, Helvetica, sans-serif;
      background-color: #ffffff;
    }
    td {
      background-color: #f2f2f2;
      padding: 2px;
    }
    tr {
      padding-bottom: 2px;
    }
    tr:nth-child(even){
      background-color: #AFDCEC}
    #report{
      text-align : right;
    }
    th {
      background-color: #ffffff;
      padding: 0%;
      color: rgb(0, 0, 0);
    }
    input[type=text] ,textarea{
      width: 98%;
      font-size: 12pt;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }
    .box {
      position:relative;
    }
    .box select {
      background-color: white;
      color: #000;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      -webkit-appearance: button;
      appearance: button;
      font-family: Cursive;
      width: 100%;
    }
    .box::before {
      content: "\f13a";
      font-family: FontAwesome;
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;
      height: 100%;
      text-align: center;
      font-size: 28px;
      line-height: 45px;
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 0.1);
      pointer-events: none;
    }
    .box:hover::before {
      color: rgba(255, 255, 255, 0.6);
      background-color: rgba(255, 255, 255, 0.2);
    }
    .box select option {
      padding: 12px;
    }
    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 32px;
      text-align: center;
      -webkit-text-stroke: 0.5px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 6px;
    }
      .reply #replyTxt,#nameTxt{
      background: #b7bbbd;
    }

    #header{
      
      background-color: #F1C40F;
    }
    #detail{
      background-color: #ffecc2;
    }
    #comment{
      background-color: lightsalmon;
    }
    .btnRP{
      float: right;
      padding-right: 155px;
    }
    a{
      color:#ffffff;
      padding-top: 2%;
      padding-bottom: 2%;
    }

    table {
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;
    }
    
    th, td {
      padding: 1em;
      background: #AFDCEC;
      border-bottom: 2px solid white; 
    }

  
   
    
    .css-mine {
      margin-top: 2em;
      clear: both;
    }
    